---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAP_QUEST_KEY>&location=Destin,%20FL&maxResults=1&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 23 Sep 2020 05:18:47 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Destin,
        FL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Destin","adminArea5Type":"City","adminArea4":"Okaloosa
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282024759","unknownInput":"","type":"s","latLng":{"lat":30.393676,"lng":-86.495663},"displayLatLng":{"lat":30.393676,"lng":-86.495663}}]}]}'
  recorded_at: Wed, 23 Sep 2020 05:18:47 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=30.393676&lon=-86.495663&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.39,"lon":-86.5,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1600838328,"sunrise":1600860908,"sunset":1600904473,"temp":70.84,"feels_like":71.65,"pressure":1017,"humidity":78,"dew_point":63.64,"uvi":8.64,"clouds":1,"visibility":10000,"wind_speed":6.93,"wind_deg":50,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1600837200,"temp":70.84,"feels_like":69.84,"pressure":1017,"humidity":78,"dew_point":63.64,"clouds":1,"visibility":10000,"wind_speed":10.16,"wind_deg":78,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1600840800,"temp":71.29,"feels_like":70,"pressure":1017,"humidity":80,"dew_point":64.81,"clouds":49,"visibility":10000,"wind_speed":11.54,"wind_deg":78,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1600844400,"temp":71.65,"feels_like":69.84,"pressure":1017,"humidity":80,"dew_point":65.16,"clouds":79,"visibility":10000,"wind_speed":12.73,"wind_deg":83,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","[...]
