---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAP_QUEST_KEY>&location=Destin,%20FL&maxResults=1&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 20 Sep 2020 19:56:44 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Destin,
        FL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Destin","adminArea5Type":"City","adminArea4":"Okaloosa
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282024759","unknownInput":"","type":"s","latLng":{"lat":30.393676,"lng":-86.495663},"displayLatLng":{"lat":30.393676,"lng":-86.495663}}]}]}'
  recorded_at: Sun, 20 Sep 2020 19:56:44 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=30.393676&lon=-86.495663&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.39,"lon":-86.5,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1600631805,"sunrise":1600601610,"sunset":1600645504,"temp":65.34,"feels_like":64.09,"pressure":1019,"humidity":93,"dew_point":63.27,"uvi":9.42,"clouds":90,"visibility":10000,"wind_speed":10.29,"wind_deg":40,"wind_gust":19.46,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1600628400,"temp":65.34,"feels_like":59.83,"pressure":1019,"humidity":93,"dew_point":63.27,"clouds":90,"visibility":10000,"wind_speed":17.87,"wind_deg":52,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.49,"rain":{"1h":0.26}},{"dt":1600632000,"temp":64.92,"feels_like":58.32,"pressure":1019,"humidity":90,"dew_point":61.92,"clouds":95,"visibility":10000,"wind_speed":18.84,"wind_deg":54,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.53},{"dt":1600635600,"temp":65.17,"feels_like":58.35,"pressure":1018,"humidity":87,"dew_point":61.21,"clouds":98,"visibility":10000,"wind_speed":18.72,"wind_deg":55,"weather":[{"id":804,"main":"Clouds","description":"overcast
[...]
