---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAP_QUEST_KEY>&location=%7B:error=%3E%22Invalid%20State%22%7D&maxResults=1&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 02 Oct 2020 18:51:18 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{:error=>\"Invalid
        State\"}"},"locations":[{"street":"Upton Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Errol","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"NH","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"03579","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p1/6341880","unknownInput":"","type":"s","latLng":{"lat":44.75913,"lng":-71.12695},"displayLatLng":{"lat":44.75913,"lng":-71.12695}}]}]}'
  recorded_at: Fri, 02 Oct 2020 18:51:18 GMT
recorded_with: VCR 6.0.0
