---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAP_QUEST_KEY>&location=%7B:error=%3E%22Invalid%20City%22%7D&maxResults=1&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 20 Sep 2020 20:41:58 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{:error=>\"Invalid
        City\"}"},"locations":[{"street":"Error Street","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"City
        of Johannesburg","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Gauteng","adminArea3Type":"State","adminArea1":"ZA","adminArea1Type":"Country","postalCode":"2094","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"ZA/STR/p0/326037","unknownInput":"","type":"s","latLng":{"lat":-26.19885,"lng":28.05748},"displayLatLng":{"lat":-26.19885,"lng":28.05748}}]}]}'
  recorded_at: Sun, 20 Sep 2020 20:41:58 GMT
recorded_with: VCR 6.0.0
