---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=30.393676&lon=-86.495663&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.39,"lon":-86.5,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1601664677,"sunrise":1601638814,"sunset":1601681394,"temp":75.58,"feels_like":66.78,"pressure":1019,"humidity":27,"dew_point":39.29,"uvi":7.6,"clouds":1,"visibility":10000,"wind_speed":11.41,"wind_deg":10,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1601661600,"temp":75.58,"feels_like":65.26,"pressure":1019,"humidity":27,"dew_point":39.29,"clouds":1,"visibility":10000,"wind_speed":14.12,"wind_deg":16,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1601665200,"temp":75.2,"feels_like":65.91,"pressure":1019,"humidity":31,"dew_point":42.53,"clouds":1,"visibility":10000,"wind_speed":13.42,"wind_deg":14,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1601668800,"temp":75.24,"feels_like":66.42,"pressure":1017,"humidity":33,"dew_point":44.19,"clouds":0,"visibility":10000,"wind_speed":13.24,"wind_deg":12,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}][...]
