---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=30.393676&lon=-86.495663&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.39,"lon":-86.5,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1600650180,"sunrise":1600601610,"sunset":1600645504,"temp":65.44,"feels_like":61.47,"pressure":1019,"humidity":82,"dew_point":59.81,"uvi":9.42,"clouds":1,"visibility":10000,"wind_speed":12.75,"wind_deg":60,"wind_gust":23.04,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1600650000,"temp":65.44,"feels_like":57.67,"pressure":1019,"humidity":82,"dew_point":59.81,"clouds":1,"visibility":10000,"wind_speed":19.48,"wind_deg":69,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0.33},{"dt":1600653600,"temp":66.96,"feels_like":59.27,"pressure":1019,"humidity":81,"dew_point":60.94,"clouds":49,"visibility":10000,"wind_speed":20.09,"wind_deg":72,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.25},{"dt":1600657200,"temp":68.38,"feels_like":60.94,"pressure":1020,"humidity":80,"dew_point":61.97,"clouds":79,"visibility":10000,"wind_speed":20.36,"wind_deg":75,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.38,"rain":{"1h":0.32}},{"dt":1600660800,"temp":69.12,"feels_like":63.34,"pressure":1020,"humidity":81,"dew_point":63.05,"clouds":94,"visibility":10000,"wind_speed":18.19,"wind_deg":74,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.04},{"dt":1600664400,"temp":69.66,"feels_like":64.08,"pressure":1020,"humidity":80,"dew_point":63.21,"clouds":99,"visibility":10000,"wind_speed":17.96,"wind_deg":73,"weather":[{"id":804,"main":"Clouds","description":"overcast
[...]
